<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TemperaturAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TemperaturAdmin.Properties.Settings>
            <setting name="dbserver" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dbdatabase" serializeAs="String">
                <value>temperaturdb</value>
            </setting>
            <setting name="dbuser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="dbpw" serializeAs="String">
                <value />
            </setting>
            <setting name="TemperaturTyp" serializeAs="String">
                <value>°C</value>
            </setting>
        </TemperaturAdmin.Properties.Settings>
    </userSettings>
</configuration>